alabaster
allennlp
attrs
Babel
blis==0.7.9
boto
boto3
botocore
certifi
chardet
Click
conllu
cycler
cymem
dill
docutils
editdistance
flaky
Flask
Flask-Cors
ftfy
gensim
gevent
greenlet
h5py
idna
imagesize
importlib-metadata
itsdangerous
Jinja2
jmespath
joblib
jsonnet
jsonpickle
kiwisolver
MarkupSafe
matplotlib
more-itertools
murmurhash
nltk
numpy
numpydoc
overrides
packaging
pandas
parsimonious
plac
pluggy
preshed
protobuf==3.20.3
py
Pygments
pyparsing
pyrouge==0.1.3
pytest
python-dateutil
pytorch-pretrained-bert
pytorch-transformers
pytz
PyYAML
regex
requests
responses
s3transfer
scikit-learn
scipy
seaborn
sentencepiece
six
smart-open
snowballstemmer
spacy==3.3.2
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
srsly
tensorboardX
thinc==8.0.17
torch==1.12.0
tqdm
Unidecode
urllib3
wasabi==0.10.1
wcwidth
Werkzeug
word2number
zipp
